{% extends 'base.html' %}
{% block title %} Change password{% endblock %}

{% block menu %}
    <li><a class="nav-link" href="{% url 'accounts:user_update' user_obj.pk %}" tabindex="-1" aria-disabled="true">Update info</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Change password</h1>

        <form action="{% url 'accounts:user_change_password' user_obj.pk %}" method="post">
            {% include 'webapp/partial/form.html' %}
            <input type="submit" value="Update password" class="btn btn-primary">
            <a class="btn btn-secondary" href="{% url 'accounts:user_detail' user_obj.pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}