{% extends 'base.html' %}
{% load static %}
{% block title %} {{ car.name }} {% endblock %}

{% block content %}
    <div class="col-md-4"><br/>
        <div class="card" style="width: 21rem;">
            <img src="{{ car.photo.url }}" class="card-img-top" alt="{{ car.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ car.brand }}</h5>
                <p class="card-text">{{ car.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: {{ car.name }}</li>
              <li class="list-group-item">Transmission: {{ car.get_transmission_display }}</li>
              <li class="list-group-item">Category: {{ car.car_category }}</li>
            </ul>
            <div class="card-body">
              {% if request.user == car.author or request.user.is_superuser %}
              <a href="{% url 'car_update' car.pk %}" class="card-link">Update car</a>
              <a href="{% url 'car_delete' car.pk %}" class='card-link'>Delete car</a>
              {% endif %}
            </div>
          </div>
        </div>
{% endblock %}